Repository asing177/fcl, changes with the owners that CODEOWNERS names for each.
All owners: @sdiehl, @buggymcbugfix, @acentelles

Current WIP
  src/Language/FCL/AST.hs
  src/Language/FCL/Eval.hs
  src/Language/FCL/Parser.hs
  src/Language/FCL/Typecheck.hs
  tests/typedefs/menu.s
Owners: @sdiehl, @buggymcbugfix

Recursively check patterns in a constructor match
  src/Language/FCL/AST.hs
  src/Language/FCL/Typecheck.hs
Owners: @sdiehl, @buggymcbugfix

Fix parsing
  examples/loan_contract.s
  src/Language/FCL/Lexer.hs
  src/Language/FCL/Parser.hs
Owners: @sdiehl

Add wildcard pattern
  src/Language/FCL/AST.hs
Owners: @sdiehl

Typecheck patterns
  src/Language/FCL/Typecheck.hs
  tests/typedefs/menu.s
Owners: @buggymcbugfix

Typecheck constructor expressions
  src/Language/FCL/AST.hs
  src/Language/FCL/Address.hs
  src/Language/FCL/Eval.hs
  src/Language/FCL/Lexer.hs
  src/Language/FCL/SafeString.hs
  src/Language/FCL/Storage.hs
  src/Language/FCL/Typecheck.hs
  src/Language/FCL/Undefinedness.hs
  tests/typedefs/menu.s
Owners: @sdiehl, @buggymcbugfix

Document progress and TODOs
  tests/typedefs/menu.s
Owners: none

Remove redundant reachability graph
  exe/Main.hs
  package.yaml
  src/Language/FCL/Compile.hs
  src/Language/FCL/Eval.hs
  src/Language/FCL/Graphviz.hs
  src/Language/FCL/Reachability.hs
Owners: @buggymcbugfix

Add temporary data structures for unfolding algorithm
  src/Language/FCL/Reachability.hs
Owners: none

Add McMillan's primitive unfolding algorithm
  src/Language/FCL/Reachability.hs
Owners: none

Add improved McMillan's unfolding algorithm (WIP cutoff events)
  src/Language/FCL/Reachability.hs
Owners: none

Remove lens
  package.yaml
Owners: none

Redo reachability graph functionality
  src/Language/FCL/Compile.hs
  src/Language/FCL/Reachability.hs
Owners: @buggymcbugfix

Make error message clearer
  src/Language/FCL/Typecheck.hs
Owners: @buggymcbugfix

Move default extensions to a top-level field
  package.yaml
Owners: none

Restrict write effects in certain contexts
  src/Language/FCL/Effect.hs
  src/Language/FCL/LanguageServerProtocol.hs
  tests/script/negative/effects/if-stmt.out
  tests/script/negative/effects/if-stmt.s
Owners: @buggymcbugfix, @acentelles

Disallow statements on rhs of assignment
  src/Language/FCL/Typecheck.hs
  tests/script/negative/typecheck/assign.out
  tests/script/negative/typecheck/assign.s
Owners: @buggymcbugfix

Improve holes in the context of binary operators
  src/Language/FCL/Typecheck.hs
  tests/script/negative/collections/invalid_aggregate.out
  tests/script/negative/holes/collection.out
  tests/script/negative/holes/holes.out
Owners: @buggymcbugfix

Add test cases
  tests/script/negative/duplicates/methods.out
  tests/script/negative/duplicates/methods.s
  tests/script/negative/typecheck/dead-code-3.out
  tests/script/negative/typecheck/dead-code-3.s
Owners: none

[wip] duplicate check
  src/Language/FCL/Duplicate.hs
  src/Language/FCL/Storage.hs
Owners: none

Implement compile urls
  api/API.hs
  api/SwaggerSchema.hs
  lsp/Main.hs
  package.yaml
  src/Language/FCL/Contract.hs
  src/Language/FCL/LanguageServerProtocol.hs
Owners: @acentelles

CODEOWNERS:

README                                     @sdiehl
examples/*.s                               @sdiehl

src/Language/FCL/AST.hs                    @sdiehl
src/Language/FCL/Asset.hs                  @sdiehl
src/Language/FCL/World.hs                  @sdiehl
src/Language/FCL/Key.hs                    @sdiehl
src/Language/FCL/Hash.hs                   @sdiehl
src/Language/FCL/Prim.hs                   @sdiehl
src/Language/FCL/Token.hs                  @sdiehl
src/Language/FCL/Parser.hs                 @sdiehl
src/Language/FCL/Lexer.hs                  @sdiehl
src/Language/FCL/SafeInteger.hs            @sdiehl
src/Language/FCL/SafeString.hs             @sdiehl

src/Language/FCL/Compile.hs                @buggymcbugfix
src/Language/FCL/Effect.hs                 @buggymcbugfix
src/Language/FCL/WorkflowNet.hs            @buggymcbugfix
src/Language/FCL/Analysis.hs               @buggymcbugfix
src/Language/FCL/Typecheck.hs              @buggymcbugfix
src/Language/FCL/Undefinedness.hs          @buggymcbugfix
src/Language/FCL/ReachabilityAnalysis.hs   @buggymcbugfix

src/Language/FCL/LanguageServerProtocol.hs @acentelles
